<!DOCTYPE html>
<html>
  <head>
      <title>How old are you?</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="description" content="This is a (very) simple project designed to learn NodeJS">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  </head>
  <body>
    <div class="container">
      <section class="main-content">
        {% block mainContent %}{% endblock %}
      </section><!-- .main-content -->
      <footer>
        <p>This is a (very) simple project designed to learn <a href="https://nodejs.org" target="_blank" rel="nofollow">NodeJS</a>.</p>
        <p>It's also a challenge proposed by <a href="https://rocketseat.com.br" class="pink" target="_blank" rel="nofollow">Rocketseat</a> on their <a href="https://rocketseat.com.br/bootcamp" class="pink" target="_blank" rel="nofollow">Bootcamp</a>.</p>
        <p>Theme roughly based on <a href="https://draculatheme.com/" class="purple" taget="_blank" rel="nofollow">Dracula</a></p>
        <p>Checkout the codes on <a href="https://github.com/jonyhayama/gonode-hoay" class="orange" target="_blank" rel="nofollow">GitHub</a> </p>
        <p>Coded by <a href="https://jony.co" class="cyan" target="_blank" rel="nofollow">Jony Hayama</a></p>
      </footer>
    </div><!-- .container -->
  </body>
</html>
